<!DOCTYPE html>
<html>
  <head>
    <title>daxi</title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
  </head>
  <body>
    <div class="header">
    </div>
    <div class="nav">
    	<ul>
    		<li><a href="">首页</a></li>
    		<li><a href="">关于我</a></li>
    		<li><a href="">妹子图</a></li>
    	</ul>
    </div>
    <!-- article list -->
    <div class="article-list">
    	<div class="article-item">
    		<div class="article-title"><a href="">吴彦祖</a></div>
    		<div class="article-date">2016-09-12</div>
    		<div class="article-content">testtesttesttesttestesttestetsettest</div>
    		<div class="article-other"><a href="">搞笑</a></div>
    	</div>
    	<div class="article-item">
    		<div class="article-title"><a href="">吴彦祖</a></div>
    		<div class="article-date">2016-09-12</div>
    		<div class="article-content">testtesttesttesttestesttestetsettest</div>
    		<div class="article-other"><a href="">搞笑</a></div>
    	</div>
    	<div class="article-item">
    		<div class="article-title"><a href="">吴彦祖</a></div>
    		<div class="article-date">2016-09-12</div>
    		<div class="article-content">testtesttesttesttestesttestetsettest</div>
    		<div class="article-other"><a href="">搞笑</a></div>
    	</div>
    </div>
    <!-- article list end -->
    <div class="pager">
    	<ul>
    		<li><a href="">1</a></li>
    		<li><a href="">2</a></li>
    		<li><a href="">3</a></li>
    	</ul>
    </div>
    <div class="footer">
    	拉阿拉啦啦啦
    </div>
  </body>
</html>
