<!DOCTYPE html>
<html>
  <head>
    <title>Home of DaXi</title>
    <meta charset="utf-8"/>
    <link rel="icon" href="/images/dsb_icon_32.png" type="image/x-icon"/>
    <link rel='stylesheet' href='/libs/bootstrap/css/bootstrap.css' /> 
    <link rel='stylesheet' href='/stylesheets/style.css' />  
    <link rel='stylesheet' href='/libs/editor/editor.css' />
    <link rel='stylesheet' href='/libs/webuploader/webuploader.css' />
    <script type="text/javascript" src='/libs/jquery-2.1.0.js'></script>
  </head>
  <body>
    <div class="header">
    </div>
    <div class="my_nav">
    	<ul>
    		<li><a href="\">首页</a></li>
    		<li><a href="\about">关于</a></li>
    		<li><a href="">妹子图</a></li>
    	</ul>
    </div>
    <div id="main">
        <%- body %>
    </div>
    <div class="footer">
    	真相很少纯粹，也决不简单。
    </div>
  </body>
</html>
